* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}


.flag {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
    filter: brightness(70%);
}

label {
    color: #777777;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-top: 24px;
}

button {
    width: 327px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #9f904e;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    border: none;
    cursor: pointer;
}

select,
input {
    background: #FFFFFF;
    border: 1px solid;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 18px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
}

button:active {
    opacity: 0.4;
}

button:hover {
    border: 2px solid #d8c687;
}

select:hover {
    border: 2px solid #d8c687;
}

input:hover {
    border: 2px solid #d8c687;
}

.logo {
    display: block;
    width: 300px;
    margin: 20px auto;
}

.frame {
    display: block;
    width: 375px;
    border-radius: 20px;
    background: #fef8e2;
    margin: 1% auto;
    padding: 5px 24px 16px;
}

.section-box {
    margin-top: 20px;
    width: 327px;
    padding: 16px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #9f904e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

p {
    color: #777;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}

.arrow {
    margin: 15px 0 13.06px;
}

.currency-value-to-convert,
.currency-value-converted {
    color: #555;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}